@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.brand-color {
  color: #ec5242;
}

* {
  font-family: 'Lato', sans-serif;
}

header {
  position: absolute;
  top: 0;
  z-index: 999;
}

.hamburger {
  font-size: 2em;
  padding: 1em;
  color: #272a31;
}

.headline {
  background-image: url('./images/background-images/background.jpg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 9em 1em;
}

.bg-01 {
  width: 30px;
  height: 30px;
  top: 10%;
  left: 15%;
  opacity: 0.4;
  position: absolute;
}

.bg-02 {
  width: 20px;
  height: 20px;
  top: 94%;
  left: 35%;
  opacity: 0.4;
  position: absolute;
}

.bg-03 {
  width: 40px;
  height: 40px;
  top: 4%;
  right: 30%;
  opacity: 0.2;
  transform: rotate(25deg);
  position: absolute;
}

.bg-04 {
  width: 40px;
  height: 40px;
  top: 79%;
  left: 7%;
  opacity: 0.3;
  transform: rotate(10deg);
  position: absolute;
}

.bg-05 {
  width: 40px;
  height: 40px;
  top: 30%;
  right: -18px;
  position: absolute;
}

.greet {
  font-weight: 500;
  font-size: 1.3em;
}

.header {
  font-size: 1.7em;
  font-weight: 600;
}

.title {
  font-weight: 900;
  font-size: 2.3em;
}

.subtitle {
  border: 3px solid white;
  background-color: #f4f4f4;
  color: #272a31;
  padding: 1em 0.5em;
}

.date {
  font-weight: 900;
  font-size: 1.8em;
  color: #272a31;
}

.venu {
  font-size: 1.25em;
}

/*
program section
*/

.program-content {
  background-image: url('./images/pattern_bg.png');
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  align-items: center;
}

.program-content > h2,
.sponsors > h2 {
  padding: 1.25em 0;
  color: white;
}

.underline {
  height: 1px;
  background-color: #ec5242;
  width: 2em;
  margin-top: 0.5em;
}

.program-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.program-card {
  align-items: center;
  padding: 0.7em;
  color: #d3d3d3;
  background-color: rgba(211, 211, 211, 0.1);
  margin-bottom: 0.5em;
  gap: 1em;
}

.program-title {
  align-items: center;
  flex: 1;
}

.program-card img {
  width: 40px;
}

.program-card h3 {
  font-size: 1em;
  font-weight: 700;
  width: 8ch;
}

.card-desc {
  font-size: 0.9em;
  flex: 2;
}

.join-btn {
  background: #ec5242;
  margin: 3em;
  border: none;
  padding: 1.25em 2em;
  font-size: 1.2em;
  color: white;
}

/*
featured speakers
*/

.featured-speakers {
  padding: 2em 1em;
}

.speaker-img img {
  width: 9em;
  margin-right: 1em;
}

.speaker-card {
  width: 100%;
}

.speaker-title {
  font-weight: 900;
  font-size: 1.1em;
}

.speaker-qualification {
  font-style: italic;
  font-weight: 600;
  font-size: 0.8em;
}

.speaker-desc {
  font-size: 0.7em;
}

.speaker-underline {
  background-color: #d3d3d3;
  margin: 1em 0;
  width: 1.5em;
  height: 1px;
}

/*
sponsors
*/

.sponsors {
  background-color: #272a31;
}

.sponsors-logo {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3em;
  justify-content: space-between;
}

.logos img {
  width: 7em;
}

/*
footer
*/

footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 3em 0;
}

@media screen and (max-width: 600px) {
  .logos img {
    padding-bottom: 1em;
  }

  .sponsors-logo {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .logo,
  .main-menu {
    display: none;
  }

  .program-details-link {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .bar-menu {
    display: none;
  }

  .navbar-style {
    box-shadow: 0 5px 15px -10px #272a31;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 0.5em 7em;
  }

  .main-menu {
    display: flex;
  }

  .navitem {
    list-style-type: none;
    display: flex;
  }

  .navlink {
    display: flex;
    padding: 0.5em 2em;
    font-size: 0.8em;
    text-decoration: none;
    color: #272a31;
    font-weight: 400;
  }

  .navlink:hover {
    color: #ec5242;
  }

  main {
    padding-top: 57.06px;
  }

  .overlay {
    padding: 9em;
  }

  .greet {
    font-size: 1.75em;
  }

  .header {
    font-size: 2em;
  }

  .title {
    font-size: 3.2em;
  }

  .subtitle {
    width: 55vw;
    margin-bottom: 2em;
  }

  .date {
    font-size: 2em;
  }

  /*
  program section
  */

  .program-details {
    flex-direction: row;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
  }

  .program-card {
    flex-direction: column;
    text-align: center;
    margin: 0.2em;
  }

  .program-card h3 {
    width: 100%;
  }

  .join-btn {
    display: none;
  }

  .program-details-link {
    margin: 3em 0;
    color: #d3d3d3;
    font-size: 1.2em;
  }

  /*
  featured speakers
  */

  .speaker-card {
    width: 50%;
  }

  .speaker-details {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 2em auto;
  }

  /*
  sponsors
  */

  .sponsors-logo {
    width: 65vw;
    margin: 0 auto;
  }
}
